body{
    background-color: rgb(170, 226, 144);
    color:rgb(6, 68, 47);
    text-align: center;
}
h1{
    text-align :center;
    
}
table tr{
    border:10px;
    border-color: black;
    margin:100px;
    
}